.card__title {
    width: 9.375rem;
    height: 12.5rem;
    margin: 0.625rem;
    justify-content: center;
    background: #eeeeee;
    box-shadow: 3px 3px 3px #aaaaaa;
    border-radius: 5px;
    text-align: center;
    border-top: dashed 1px #555555;
    padding-top: 0.9375rem;
    
  }
  .cards {
    display: flex;
    justify-content: space-between;
  }